@import "tailwindcss";

body {
   font-family: 'Inter', sans-serif;
  background-color: white;
 /* margin-left: 10rem;

margin-right: 10rem; */
}

.tab {
  @apply relative pb-1 cursor-pointer transition-colors duration-300;
}

.activetab::after {
  content: '';
  @apply absolute  bottom-1 w-[50%] h-[2px] bg-black;
  left: 50%;
  transform: translateX(-50%);
}

.slick-slide >div{
  margin: 0 10px;
}
.slick-dots >div {
  background-color: transparent !important; 
}
.slick-dots li {
  margin: 0 4px; 
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
